{% extends 'website/base.html' %}

{% load static %}

{% block title %}About - ECSS{% endblock title %}

{% block pagestyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'website/styles/about.css' %}">
{% endblock %}

{% block content %}
<section class="container mt-3">
  <h1>About</h1>
  <p>
    ECSS is a student run society within the School of Electronics and Computer Science at the University of Southampton. We are a society for the students. That means we are here to help you.
  </p>
  <section>
    <h2>A Brief History</h2>
    <p>
      ECSS was founded in 2005 when two pre-existing societies merged, the Software Engineering and Computer Science Society (SECSS) and the Electronic Electrical Electromechanical and Computer Engineering Society (EEECES). Officially, SECSS was renamed to the Electronics and Computer Science Society to become a departmental society. EEECES had never been affiliated with the Union and had been rejected in both 2004 and 2005.
    </p>
    <img class="img-fluid mx-auto d-block img-about" src="{% static 'website/content/people.jpg' %}" alt="People at ECSS social">
  </section>
  <section>
    <h2>Present Day</h2>
    <p>
      The aim of the society is to run a range of events, activities and opportunities, as well as to support the groups and societies which run within the School of Electronics and Computer Science.
    </p>
    <p>
      Through the year that we (the current committee) are in power, we will provide you with a range of events and activities. These range from club nights and pub crawls, to sports events and games nights.
    </p>
    <p>
      We also provide academic and job related activities such as talks from external companies, including those that sponsor ECSS, as well as ECS alumni.
    </p>
    <p>
      We are always open however, to new and fresh ideas of events that you think we should run. If you have an ideas, send it our way and we'll see what we can do! Our most recent <a href="https://society.ecs.soton.ac.uk/constitution/">Constitution</a>, <a href="https://www.susu.org/groups/ecss">SUSU Society Page</a>, our latest <a href="https://society.ecs.soton.ac.uk/voteresult/">Election Results</a> and the subsequent pages on this website are available for your immediate browsing. If at any point you require any more information, or are interested in sponsoring our society, please do not hesitate to contact us.
    </p>
  </section>
</section>
{% endblock %}
