{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="icon" href="{% static 'website/images/favicon.ico' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/brands.css" integrity="sha384-VGCZwiSnlHXYDojsRqeMn3IVvdzTx5JEuHgqZ3bYLCLUBV8rvihHApoA1Aso2TZA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css" integrity="sha384-GVa9GOgVQgOk+TNYXu7S/InPTfSDTtBalSgkgqQ7sCik56N9ztlkoTr2f/T44oKV" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'website/styles/base.css' %}">
    <title>{% block title %}ECSS - University of Southampton Electronics and Computer Science Society{% endblock %}</title>
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-ecssweb">
          <a class="navbar-brand" href="{% url 'website:index' %}">
            <img src="{% static 'website/images/ecssweb-logo.png' %}" width="30" height="30" alt="ECSS website navbar brand logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'website:index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Committee</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Societies</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Sponsors</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarEventsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Events
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarEventsDropdown">
                  <a class="dropdown-item" href="#">Socials</a>
                  <a class="dropdown-item" href="#">Game Socials</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'website:events_bbq' %}">BBQ</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Welfare</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarSportsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sports
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarSportsDropdown">
                  <a class="dropdown-item" href="#">Football</a>
                  <a class="dropdown-item" href="#">Netball</a>
                  <a class="dropdown-item" href="#">Basketball</a>
                  <a class="dropdown-item" href="#">Parkrun</a>
                  <a class="dropdown-item" href="#">Others</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarFeedbackDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Feedback
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarFeedbackDropdown">
                  <a class="dropdown-item" href="#">Submit</a>
                  <a class="dropdown-item" href="#">Responses</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarAboutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  About
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarAboutDropdown">
                  <a class="dropdown-item" href="#">About</a>
                  <a class="dropdown-item" href="#">Constitution</a>
                  <a class="dropdown-item" href="#">Voting Results</a>
                  <a class="dropdown-item" href="#">Contact Us</a>
                  <a class="dropdown-item" href="#">Credits</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <div class="content container">
      {% block content %}
      {% endblock %}
    </div>

    <footer>
      <div class="container">
        <dl class="footer-list">
          <dt class="footer-title">Connect with us</dt>
          <dd class="footer-item footer-item-icon"><a href="#" class="footer-link-icon" aria-label="ECSS Facebook page"><i class="fab fa-facebook" title="ECSS Facebook page" aria-hidden></i></a></dd>
          <dd class="footer-item footer-item-icon"><a href="#" class="footer-link-icon" aria-label="ECSS Twitter"><i class="fab fa-twitter" title="ECSS Twitter" aria-hidden></i></a></dd>
          <dd class="footer-item footer-item-icon"><a href="#" class="footer-link-icon" aria-label="ECSS Instagram"><i class="fab fa-instagram" title="ECSS Instagram" aria-hidden></i></a></dd>
          <dd class="footer-item footer-item-icon"><a href="#" class="footer-link-icon" aria-label="ECSS GitHub"><i class="fab fa-github" title="ECSS GitHub" aria-hidden></i></a></dd>
        </dl>
        <dl class="footer-list">
          <dd class="footer-item"><a href="#" class="footer-link">About</a></dd>
          <dd class="footer-item"><a href="#" class="footer-link">Contact</a></dd>
          <dd class="footer-item"><a href="#" class="footer-link">Meeting Minutes</a></dd>
          <dd class="footer-item"><a href="#" class="footer-link">Societies in ECS</a></dd>
          <dd class="footer-item"><a href="#" class="footer-link">ECS</a></dd>
        </dl>
        <dl class="footer-list">
          <dd class="footer-item"><a href="#" class="footer-link">Site map</a></dd>
          <dd class="footer-item"><a href="#" class="footer-link">Privacy &amp; Cookies</a></dd>
        </dl>
      </div>
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  </body>
</html>