{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="black">

    <link rel="icon" href="{% static 'website/images/favicon.ico' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- Bootstrap Toggle -->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet" data-style="ios">

    <link rel="stylesheet" href="{% static 'website/styles/base.css' %}">
    {% block pagestyle %}{% endblock %}
    <title>{% block title %}ECSS - University of Southampton Electronics and Computer Science Society{% endblock %}</title>
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-ecssweb">
          <a class="navbar-brand" href="{% url 'website:home' %}" aria-label="Home">
            <img src="{% static 'website/images/ecssweb-logo.png' %}" width="30" height="30" alt="ECSS website navbar brand logo" aria-hidden="true">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'website:committee-overview' %}">Committee</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'website:societies' %}">Societies</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'website:sponsors' %}">Sponsors</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'website:events' %}" id="navbarEventsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Events
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarEventsDropdown">
                  <a class="dropdown-item" href="{% url 'website:events' %}">Events Overview</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'website:socials' %}">Socials</a>
                  <a class="dropdown-item" href="{% url 'website:gaming-socials' %}">Gaming Socials</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'website:welfare' %}">Welfare</a>
              </li>
            </ul>
            <ul class="navbar-nav">
              <span style="margin-right: 20px;" ><input id="toggle-dark" type="checkbox" checked data-style="dark" data-toggle="toggle" data-on="<i class='fa fa-moon'></i>" data-off="<i class='fa fa-sun'></i>"></span>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'portal:overview' %}" id="navbarPortalDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user-alt"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarPortalDropdown">
                  <a class="dropdown-item" href="{% url 'feedback:submit' %}">Feedback</a>
                  <a class="dropdown-item" href="{% url 'election:elections' %}">Elections</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <div class="content">
      {% block content %}
      {% endblock %}
    </div>

    <footer>
      <div class="container footer-container">
        <div class="footer-social-medias">
          <dl class="footer-list">
            <dt class="footer-title">Connect with us</dt>
            <dd class="footer-item footer-item-icon"><a href="https://www.facebook.com/ecss.soton/" class="footer-link-icon" aria-label="Facebook page"><i class="fab fa-facebook" title="ECSS Facebook page" aria-hidden="true"></i></a></dd>
            <dd class="footer-item footer-item-icon"><a href="https://twitter.com/ecs_society" class="footer-link-icon" aria-label="Twitter"><i class="fab fa-twitter" title="ECSS Twitter" aria-hidden="true"></i></a></dd>
            <dd class="footer-item footer-item-icon"><a href="https://www.instagram.com/ecss_soton/" class="footer-link-icon" aria-label="Instagram"><i class="fab fa-instagram" title="ECSS Instagram" aria-hidden="true"></i></a></dd>
            <dd class="footer-item footer-item-icon"><a href="https://discord.com/invite/thNwer4" class="footer-link-icon" aria-label="Discord"><i class="fab fa-discord" title="ECSS Discord" aria-hidden="true"></i></a></dd>
            <dd class="footer-item footer-item-icon"><a href="https://github.com/ecss-soton" class="footer-link-icon" aria-label="GitHub"><i class="fab fa-github" title="ECSS GitHub" aria-hidden="true"></i></a></dd>
          </dl>
        </div>
        <div>
          <dl class="footer-list">
            <dt></dt>
            <dd class="footer-item"><a href="{% url 'website:about' %}" class="footer-link">About Us</a></dd>
            <dd class="footer-item"><a href="https://society.ecs.soton.ac.uk/constitution" class="footer-link">Constitution</a></dd>
            <dd class="footer-item"><a href="{% url 'website:contact' %}" class="footer-link">Contact</a></dd>
            <dd class="footer-item"><a href="https://society.ecs.soton.ac.uk/meeting-minutes/" class="footer-link">Meeting Minutes</a></dd>
            <dd class="footer-item"><a href="https://www.ecs.soton.ac.uk" class="footer-link">ECS</a></dd>
          </dl>
          <dl class="footer-list">
            <dt></dt>
            <!--<dd class="footer-item"><a href="#" class="footer-link">Sitemap</a></dd>-->
            <dd class="footer-item"><a href="https://www.southampton.ac.uk/about/governance/policies/privacy-policy.page" class="footer-link">Privacy Notice</a></dd>
            <dd class="footer-item"><a href="https://www.southampton.ac.uk/about/governance/policies/cookies.page" class="footer-link">Cookies</a></dd>
            <dd class="footer-item"><a href="{% url 'website:media-notice' %}" class="footer-link">Media Notice</a></dd>
            <!--<dd class="footer-item"><a href="#" class="footer-link">Copyright Notice</a></dd>-->
          </dl>
        </div>
      </div>
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

    <script>
      const dark_toggle = "#toggle-dark";
      const dark_theme = "dark-theme";
      const cookie_name = "dark-mode";

      const cookiesApi = Cookies.withAttributes({ sameSite: "strict" });

      $(function() {
        $(dark_toggle).change(function() {
          let dark = document.getElementById("toggle-dark").checked;

          toggleDarkMode(dark);
          cookiesApi.set(cookie_name, dark, { expires: 1 });
        })
      });

      window
      	.matchMedia("(prefers-color-scheme: dark)")
      	.addEventListener("change", function (e) {
      		matchThemeToSystem();
      	});

      function matchThemeToSystem() {
        let dark = window.matchMedia("(prefers-color-scheme: dark)").matches;
        let cookieOverride = typeof(cookiesApi.get(cookie_name)) !== 'undefined';

        if(cookieOverride) {
          dark = cookiesApi.get(cookie_name) === 'true';
        }

        if (dark) {
            $(dark_toggle).bootstrapToggle('on', true);
            toggleDarkMode(true);
    		} else {
            $(dark_toggle).bootstrapToggle('off', true);
            toggleDarkMode(false);
    		}
      }

      function toggleDarkMode(toggle) {
        if(toggle && !document.body.classList.contains(dark_theme)) {
            document.body.classList.add(dark_theme);
        } else if(!toggle) {
          document.body.classList.remove(dark_theme);
        }
      }

      $(function() {
        matchThemeToSystem();
      });
    </script>

    {% block pagescript %}{% endblock %}
  </body>
</html>
