{% extends 'website/base.html' %}

{% load static %}

{% block title %}Contact Us - ECSS{% endblock title %}

{% block content %}
<section class="container mt-3">
  <h1>Contact Us</h1>
  <p>
    ECSS welcomes all communications from its society members!
  </p>
  <p>
    Please feel free to contact us at any of the links below and we will get back to you as soon as possible.
  </p>
  <ul class="list-unstyled">
    <li class="my-1"><a href="https://www.facebook.com/ecss.soton/" class="icon-link"><i class="fab fa-facebook" title="ECSS Facebook page" aria-hidden="true"></i> ECSS Facebook Page</a></li>
    <li class="my-1"><a href="https://www.facebook.com/groups/ecss.soton/" class="icon-link"><i class="fab fa-facebook" title="ECSS Facebook group" aria-hidden="true"></i> ECSS Facebook Group</a></li>
    <li class="my-1"><a href="mailto:society@ecs.soton.ac.uk" class="icon-link"><i class="fas fa-envelope-square" title="ECSS Facebook group" aria-hidden="true"></i> Email: society@ecs.soton.ac.uk</a></li>
  </ul>
</section>
{% endblock %}
