{% extends 'website/base.html' %}

{% load static %}

{% block pagestyle %}
<link rel="stylesheet" href="{% static 'website/styles/home.css' %}">
{% endblock %}

{% block content %}
<div id="header">
  <div id="header-bg-shade">
    <div class="container">
        <!--

                   /####               %@@@@
                    ##########.  @@@@@@@@@@
                     ########(   %@@@@@@@@*
                   #####.     .,.      @@@@@,
                 #####   #############   %@@@@
                ####   ####/        ....   .,,,
               ####  ####   @@@@@@  @@@@@@  /@@@@@,  @@@@@@
              /###  ###(    @@@     @@  @@. @@   @@  @@  @@
          .#######  ###     @@@    .@@      @@@      @@*
          ########          @@@@@@ .@@        @@@@,   %@@@@
           #######  ###     @@@     @@           @@      @@
              /###  ###(    @@@     @@  @@. @@   @@  @@  @@
               ####  ####   @@@@@@  @@@@@@  /@@@@@/  @@@@@@
                ####   ####(        ....   ,,,.
                 #####   #############   &@@@@
                   #####,      ..      @@@@@.
                     #########   &@@@@@@@@*
                    ##########.  @@@@@@@@@@
                   /####               %@@@@

        -->
        <img src="{% static 'website/images/ecssweb-logo.png' %}" alt="ECSS logo" class="logo-home">
        <h1 class="text-center text-nowrap">
          <span id="uos-text">University of Southampton</span>
          <br>Electronics and<wbr> Computer Science Society
        </h1>
    </div>
  </div>
</div>
<div class="container mt-3">
  <p>
    <b>About Us</b>
    <br>We are the University of Southampton's Electronics and Computer Science Society, better known as ECSS. We are a student-run society for ECS students at the University of Southampton, but welcome all students from the entire university.
    <br><br>
    We run all types of events for every student: from socials to talks, Hackathons to games nights and movie viewings to day trips. These events are planned and operated by a committee of volunteers: elected by ECS students, for ECS students.
  </p>
  <section>
    <h2 class="text-center">Upcoming Events</h2>
    {% if not events %}
    <p>Currently no upcoming events published, stay tuned.</p>
    {% endif %}
    <div class="d-flex justify-content-center flex-wrap">
    {% for event in events %}
    <div class="events-cards-home">
      <div class="card event-card-home">
         <a href="https://www.facebook.com/events/{{ event.fb_id }}/">
        <img class="card-img-top" src="{{ event.cover }}" alt="{{ event.name }}">
          <h5 class="card-header">
            {{ event.name }}
          </h5>
        </a>
        <div class="card-body">
          {{ event.start_time|date }} at {{ event.start_time|time:"H:i" }}{% if event.end_time %} - {{ event.end_time|date }} at {{ event.end_time|time:"H:i" }}{% endif %}<br>
          {{ event.location }}
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </section>
  <section>
    <h2 class="text-center">Our Sponsors</h2>
      <ul class="d-flex justify-content-center flex-wrap">
      {% for gold_sponsor in sponsors %}
      <li class="sponsor-list-logo-home">
        <a href="{% url 'website:sponsors' %}?sponsor={{ gold_sponsor.codename }}" title="{{ gold_sponsor.name }}" aria-label="{{ gold_sponsor.name }}">
          <img src="{{ gold_sponsor.get_logo_url }}" width="175" alt="{{ gold_sponsor.name }}" class="sponsor-logo-home sponsor-logo-home-light" aria-hidden="true">
          <img src="{{ gold_sponsor.get_dark_logo_url }}" width="175" alt="{{ gold_sponsor.name }}" class="sponsor-logo-home sponsor-logo-home-dark" aria-hidden="true">
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
</div>
{% endblock %}
