{% extends 'website/base.html' %}

{% load static %}

{% block title %}Welfare in ECSS{% endblock title %}

{% block content %}
<style>
  #people li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
</style>
<div class="page-header">
  <section class="container">
    <h1>Welfare</h1>
    <p>
      Any degree in the Computer Science and Electronics department can be challenging. Throughout the year, the workloads can be high, and stress can become difficult to manage. At the bottom of the page you can find some helpful links and numbers to check out if you are struggling with your work, mental health or anything in between.
      <br /><br />
      The job of the Welfare Officer is to lend guidance and support if things get tough. Whether it’s bad results, homesickness, or just needing a general chat about university life, the Welfare Officer will be able to point you in the right direction.
      This year’s Welfare Officer is <a href="/committee/welfare">Sian Brookes</a>, a second year Computer Science student. You can reach them, or any member of the committee through their social media.
    </p>
  </section>
</div>
<div class="container mt-3">
  <section class="row">
    <div class="col-md-7 order-md-1">
      <h2>Events</h2>
      <p>
        As well as general support from the Welfare Officer, the society will always be running lots of events to help take your mind off your studies, if only for an evening! As well as this, wellbeing events are always held by the Union and other outside communities. You will also be able to find the Welfare Officer at most socials, in case you need to talk to someone for extra support.
      </p>
    </div>
    <div class="col-md-5 order-md-0 d-flex align-items-center">
      <img class="img-fluid" src="{% static 'website/content/welfare.jpg' %}" alt="Welfare event picture">
    </div>
  </section>
  <section id="people">
    <h2>People to talk to</h2>
    <ul>
      <li>
        <b>Tutors</b> – Your PAT is there to support you and answer any questions about university you may have.
        <br >
        You can also contact a senior tutor for extra advice.
      </li>
      <li>
        <b>Student Hub</b> – This is the place at University to find out about any and all support you can access, they are available 24/7 for every type of wellbeing support. Email them at <a href="mailto:studenthub@soton.ac.uk">studenthub@soton.ac.uk</a>, call them at <a href="tel:02380599599">023 80599 599</a> or use the online chat on <a href="https://www.southampton.ac.uk/studentservices/index.page">their website</a>.
        <br>
        They are also located in Building 37 on Highfield, should you need to talk to someone in person
      </li>
      <li>
        <b>Samaritans</b> – They are a free, confidential service who are available 24/7. You can call their number on <a href="tel:116123">116 123</a>, or email them at <a href="mailto:jo@samaritans.org">jo@samaritans.org</a>.
      </li>
      <li>
        <b>Mind</b> – <a href="www.mind.org.uk">Mind.org.uk</a> is a great place for mental health information, as well as guidance on how to obtain the right support.
        <br>
        Solent Mind also run a support line on <a href="tel:02380179049">023 8017 9049</a> for general advice and signposting.
      </li>
      <li>
        <b>Shout</b> – You can text the word ‘SHOUT’ to <a href="tel:85288">85288</a> for 24/7 mental health support through messages.
      </li>
      <li>
        <b>Switchboard</b> – This is a confidential LGBT+ specific helpline, they can offer support through <a href=https://switchboard.lgbt">their website</a>, where you can online chat with a volunteer. You can also contact them with their number, <a href="tel:03003300630">0300 330 0630</a>, or their email <a href="mailto:chris@switchboard.lgbt">chris@switchboard.lgbt</a>.
      </li>
      <li>
        <b>Steps to Wellbeing</b> – You can refer yourself Steps to Wellbeing on <a href="https://www.steps2wellbeing.co.uk/self_referral">their website</a>, which offer psychological therapies through the NHS (no need to wait for your GP). They also have a lot of great resources on the same website.
      </li>
    </ul>
    Remember, you can always see your GP if you are worried about your mental health.
  </section>
</div>
{% endblock %}
