# database
db.sqlite3

# data
fixture.yml
societies.yml

# website content
website/static/website/content/

# SAML config
ecsswebauth/saml_config/settings.json
ecsswebauth/saml_config/settings.uos.json
ecsswebauth/saml_config/certs/sp.crt
ecsswebauth/saml_config/certs/sp.key

# python virtual environment
.env/

# IDE files
.vscode/

# Django
# https://github.com/django/django/blob/master/.gitignore
*.egg-info
*.pot
*.py[co]
.tox/
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/

# Django settings
settings.py
