# database
db.sqlite3

# website content
website/static/website/content/

# SAML config
auth/saml-config/settings.json
auth/saml-config/settings.uos.json
auth/saml-config/certs/sp.crt
auth/saml-config/certs/sp.key

# python virtual environment
.env/

# IDE files
.vscode/

# Django
# https://github.com/django/django/blob/master/.gitignore
*.egg-info
*.pot
*.py[co]
.tox/
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/

# Django settings
settings.py
