{% extends 'website/base.html' %}

{% load static %}

{% load website_extra %}
{% load jumpstart_extra %}

{% block title %}Portal - ECSS{% endblock %}

{% block pagestyle %}
<link rel="stylesheet" href="{% static 'portal/styles/portal.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-3">
  <div class="row">
    <div class="col-lg-3">
      <ul class="list-group" id="portalNav">
        <li class="list-group-item">
          <div class="row portal-nav-no-row">
            <div class="col-9">
              <p>
                Logged in as <strong class="username">{{ user.username }}</strong>
              </p>
              <form action="{% url 'ecsswebauth:saml-logout' %}" method="get">
                <input type="submit" value="Logout" class="btn btn-ecssweb">
              </form>
            </div>
            <div class="col-3 text-right">
              <button class="navbar-toggler portal-nav-toggler" type="button" data-toggle="collapse" data-target=".portalNavContent" aria-expanded="false" aria-label="Toggle portal navigation">
                <span class="navbar-toggler-icon">
                  <i class="fas fa-bars"></i>
                </span>
              </button>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <a href="{% url 'portal:overview' %}">
            Overview
          </a>
        </li>
        <!--
        <li class="list-group-item">
          <a href="#">Voting</a>
        </li>
        <li class="list-group-item">
          <a href="#">Shop</a>
        </li>
        -->
        <li class="list-group-item">
          <ul class="list-unstyled">
            <li>
              <a href="{% url 'feedback:submit' %}">Submit Feedback</a>
            </li>
            <li>
              <a href="{% url 'feedback:view' %}">View Feedback</a>
            </li>
          </ul>
        </li>
        {% if user|has_group:"committee" or user|is_fresher or user|is_helper %}
        <li class="list-group-item">
          <ul class="list-unstyled">
            <li>
              <a href="{% url 'jumpstart:home' %}">Jumpstart</a>
            </li>
            {% if user|is_helper %}
            <li>
              <a href="{% url 'jumpstart:profile-edit' %}">Edit Profile</a>
            </li>
            <li>
              <a href="{% url 'jumpstart:city-challenge-edit' %}">Submit City Challenge</a>
            </li>
            <li>
              <a href="{% url 'jumpstart:scavenger-hunt-edit' %}">Submit Scavenger Hunt</a>
            </li>
            {% endif %}
            <li>
              <a href="{% url 'jumpstart:scavenger-hunt' %}">View Scavenger Hunt</a>
            </li>
            {% if user|is_helper or user|is_fresher %}
            <li>
              <a href="{% url 'jumpstart:groups' %}">Jumpstart Groups</a>
            </li>
            {% endif %}
          </ul>
        </li>
        {% endif %}
        <!--
        <li class="list-group-item">
          <a href="#">Admin</a>
        </li>
        -->
      </ul>
    </div>
    <div class="col-lg-9">
      {% block portalcontent %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block pagescript %}
{{ block.super }}
<script>
  $("#portalNav>li:not(:first)").addClass("collapse portal-nav-collapse portalNavContent");
</script>
{% endblock %}
