{% extends '../base.html' %}

{% load static %}

{% block title %}Jumpstart 2019 - ECSS{% endblock title %}

{% block pagestyle %}
{{ block.super }}
<meta name="description" content="University of Southampton Electronics and Computer Science Jumpstart Freshers 2019. Hosted by University of Southampton Electronics and Computer Science Society (ECSS), sponsored by IBM."/>
<meta name="keywords" content="University of Southampton, Electronics and Computer Science, ECS, Electronics and Computer Science Society, ECSS, ECS Jumpstart, Southampton, University Freshers, Freshers 2019, Freshers"/>
<meta property="og:title" content="ECS Jumpstart Freshers 2019" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{% url 'website:jumpstart-2019' %}" />
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'website/images/freshers/freshers-2019/jumpstart-logo.png' %}" />
<style>
/* Jumpstart navbar */
.navbar-jumpstart {
  opacity: 0.9;
}
.navbar-sticky-jumpstart + main {
  padding-top: 56px;
}
@media (max-width: 575.98px) {
  .navbar-jumpstart {
    display: none;
  }
  .navbar-jumpstart + main {
    padding-top: 0;
  }
}
/* Logos */
.logos-jumpstart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.logo-container-jumpstart {
  width: 10rem;
  height: 10rem;
  margin: 4rem;
  align-items: center;
  justify-content: center;
}
.sponsor-logo-text-container-jumpstart {
  width: 10rem;
  height: 10rem;
  margin: 2rem;
  font-family: Helvetica, sans-serif!important;
  font-size: 1rem;
}
.sponsor-logo-container-jumpstart {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Pictures */
.pics-jumpstart {
  font-size: 0;
}
.pic-jumpstart {
  width: 33.33%;
}
/* Content */
.content-jumpstart {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.1rem;
}
.notes {
  font-size: 1rem;
}
h1, h2, h3 {
  font-family: 'Bahnschrift Condensed', 'Din Condensed', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#jumpstart h1 {
  color: #9e0000;
}
/* Bckground */
body {
  background: url("{% static 'website/images/freshers/freshers-2019/bg-pcb.jpg' %}") repeat;
}
/* Timetable */
#timetable {
  border: 5px solid rgb(237, 125, 49);
  background: url("{% static 'website/images/freshers/freshers-2019/bg-pcb-orange.jpg' %}") repeat;
  color: #cf6f34;
}
#timetable h2 {
  color: #ed7c31;
}
.calendar-container {
  overflow-x: scroll;
}
.calendar {
  border: 0;
  min-width: 40rem;
}
/* City Challenge */
#cityChallenge {
  border: 5px solid rgb(46, 117, 182);
  background: url("{% static 'website/images/freshers/freshers-2019/bg-pcb-blue.jpg' %}") repeat;
  color: rgb(21, 53, 83);
}
#cityChallenge h2 {
  color: #2e74b6;
}
#cityChallengeGroups {
  border:3px solid rgb(153, 92, 180);
  background: url("{% static 'website/images/freshers/freshers-2019/bg-pcb-purple.jpg' %}") repeat;
  color: rgb(74, 41, 89);
}
#cityChallengeGroups h3 {
  color: #995cb4;
}
</style>
{% endblock %}

{% block content %}
<div class="bg-dark navbar-jumpstart">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark container">
    <a class="navbar-brand" href="#jumpstart">
      Jumpstart 2019
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#timetable">Timetable</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#cityChallenge">City Challenge</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#cityChallengeGroups">Groups</a>
      </li>
    </ul>
  </nav>
</div>
<main class="content-jumpstart">
  <section id="jumpstart" class="pt-4 mb-0">
    <div class="container">
      <div class="logos-jumpstart">
        <div class="logo-container-jumpstart">
          <img class="img-fluid" src="{% static 'website/images/freshers/freshers-2019/jumpstart-logo.png' %}" alt="Jumpstart">
        </div>
        <div class="sponsor-logo-text-container-jumpstart">
          <div class="text-center">Proud Sponsor</div>
          <div class="sponsor-logo-container-jumpstart">
            <a href="https://www.ibm.com/">
              <img class="img-fluid" src="{% static 'website/content/freshers/jumpstart-2019/ibm-logo.jpg' %}" alt="IBM">
            </a>
          </div>
        </div>
      </div>
      <h1 class="text-uppercase">Jumpstart Freshers 2019</h1>
      <p>Jumpstart is an opportunity for freshers to meet other students in the faculty, take part in a range of activities, and settle into Southampton. It is our first ECSS event of the year, and is sponsored by IBM. See below for the week’s timetable, and information on the City Challenge which is part of the UG timetable. If you have any questions feel free to <a href="{% url 'website:contact' %}">contact our committee</a>, and have fun!</p>      
    </div>
    <div class="pics-jumpstart mt-4">
      <img class="img-fluid pic-jumpstart" src="{% static 'website/content/freshers/jumpstart-2018/jumpstart-1.jpg' %}" alt="Jumpstart Q&A">
      <img class="img-fluid pic-jumpstart" src="{% static 'website/content/freshers/jumpstart-2018/jumpstart-2.jpg' %}" alt="Jumpstart City Challenge">
      <img class="img-fluid pic-jumpstart" src="{% static 'website/content/freshers/jumpstart-2018/jumpstart-3.jpg' %}" alt="Jumpstart City Challenge">
    </div>
  </section>
  <section id="timetable" class="py-4">
    <div class="container">
      <h2 class="text-uppercase">Timetable</h2>
      <p>
        The timetables below shows the ECS Jumpstart Freshers events and some other Freshers events in the university, to find out about other Freshers events in the university, see <a href="https://www.southampton.ac.uk/welcome-events/" title="University of Southampton welcome events calendar">the university welcome events timetable</a> and <a href="https://www.susu.org/calendar/" title="University of Southampton Students' Union calendar">Students' Union calendar</a>. The timetables below are currently provisional and subject to change.
      </p>
      <div class="accordion mt-3" id="timetableAccordion">
        <div class="card">
          <div class="card-header" id="ugScheduleHeading">
            <h5 class="mb-0">
              <button class="btn btn-link btn-link-ecssweb accordion-button" type="button" data-toggle="collapse" data-target="#ugSchedule" aria-expanded="true" aria-controls="Jumpstart Undergraduate Schedule" id="ugScheduleButton">
                Jumpstart Undergraduate Schedule
              </button>
            </h5>
          </div>
          <div id="ugSchedule" class="collapse show" aria-labelledby="ugScheduleHeading">
            <div class="card-body calendar-container">
              <iframe src="https://calendar.google.com/calendar/embed?src=71ljirlsoe8abh639ldph488rc%40group.calendar.google.com&ctz=Europe%2FLondon&showNav=1&showCalendars=0&mode=WEEK&height=550&wkst=1&bgcolor=%23f2a8a6&dates=20190922%2F20190928&color=%23A32929" height="550" class="calendar w-100"></iframe>
              <small class="text-right d-block">
                <a href="https://calendar.google.com/calendar/ical/71ljirlsoe8abh639ldph488rc%40group.calendar.google.com/public/basic.ics" title="Jumpstart 2019 UG Schedule iCal">Available in iCal format</a>
              </small>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header calendar-container" id="pgScheduleHeading">
            <h5 class="mb-0">
              <button class="btn btn-link btn-link-ecssweb accordion-button" type="button" data-toggle="collapse" data-target="#pgSchedule" aria-expanded="true" aria-controls="Jumpstart Postgraduate Schedule" id="pgScheduleButton">
                Jumpstart Postgraduate Schedule
              </button>
            </h5>
          </div>
          <div id="pgSchedule" class="collapse show" aria-labelledby="pgScheduleHeading">
            <div class="card-body calendar-container">
              <iframe src="https://calendar.google.com/calendar/embed?src=fd7a9eatchb0ldnh99oq55nkec%40group.calendar.google.com&ctz=Europe%2FLondon&showNav=0&showCalendars=0&mode=WEEK&height=550&wkst=1&bgcolor=%23f2a77b&dates=20190922%2F20190928&color=%23BE6D00" height="550" class="calendar w-100"></iframe>
              <small class="text-right d-block">
                <a href="https://calendar.google.com/calendar/ical/fd7a9eatchb0ldnh99oq55nkec%40group.calendar.google.com/public/basic.ics" title="Jumpstart 2019 MSc Schedule iCal">Available in iCal format</a>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="cityChallenge" class="pt-4">
    <div class="container">
      <h2 class="text-uppercase">City Challenge</h2>
      <p>Get ready for The Jumpstart City Challenge 2019, Freshers! We'll be splitting you into teams and giving you the opportunity to compete in a series of group challenges and games, seeing some of our favourite things Southampton has to offer, alongside your assigned Jumpstart Group Leader (a current ECS student). This is the first of many chances you'll have to interact with the committee members, who will be glad to answer any of your questions and learn a bit more about us as a society.</p>
      <p>Completion of any of our smorgasbord of activities with be worth some point value so be sure to bring your A-game!</p>
      <p>Of course, it wouldn't be much of a challenge without prizes; be sure to attend the Jumpstart reception on Friday 27th September, where we'll have some goodies from ECSS and IBM up for grabs.</p>
      <section id="cityChallengeGroups" class="p-2 pt-3">
        <h3 class="text-uppercase">City Challenge Groups</h3>
        <p>
          <a href="{% url 'jumpstart:home' %}">Login to view groups</a>.
        </p>
      </section>
    </div>
  </section>
  <div class="container notes">
    <hr>
    <p>Please note that photography and filming might be taking place at our events and ECSS will be using them. Please let us know if you do not want to be photographed/filmed. Find out more in our <a href="{% url 'website:media-notice' %}">media notice</a>.</p>
    <small class="text-muted d-block">Pictures on this page are from Jumpstart 2017.</small>
    <small class="text-muted d-block">Last updated on 22 Aug 2019.</small>
  </div>
</main>
{% endblock %}

{% block pagescript %}
{{ block.super }}
<!-- Make Jumpstart navbar stick on the top -->
<script>
var jumpstartNavbarOffsetTop = $(".navbar-jumpstart").offset().top;
$(window).bind("scroll", function () {
  if ($(window).scrollTop() > jumpstartNavbarOffsetTop) {
      $(".navbar-jumpstart").addClass("fixed-top navbar-sticky-jumpstart");
  } else {
      $(".navbar-jumpstart").removeClass("fixed-top navbar-sticky-jumpstart");
  }
});
</script>

<!-- Timetable -->
<script>
// cloapse timetable when page loads
$("#timetableAccordion .collapse").removeClass("show");
$("#timetableAccordion .accordion-button").attr("aria-expanded", false);
// show timetable if hash URL to the timetable
if (window.location.hash) {
  if (window.location.hash === "#ugSchedule") {
    $("#ugSchedule").addClass("show");
    $("#ugScheduleButton").attr("aria-expanded", true);
  }
  else if (window.location.hash === "#pgSchedule") {
    $("#pgSchedule").addClass("show");
    $("#pgScheduleButton").attr("aria-expanded", true);
  }
}
// change url when click on buttons
$("#ugScheduleButton").click(function() {
  if (!$("#ugSchedule").hasClass("show")) {
    window.location.hash = "ugSchedule";
  }
});
$("#pgScheduleButton").click(function() {
  if (!$("#pgSchedule").hasClass("show")) {
    window.location.hash = "pgSchedule";
  }
});
</script>
{% endblock %}
