{% extends 'portal/base.html' %}

{% load static %}
{% load website_extra %}

{% block title %}Elections - ECSS{% endblock %}

{% block portalcontent %}
<section>
  <h1>{{ election.name }}</h1>
  <p>
    This election is for ECSS members.
  </p>
  {% if election.has_nomination and election.is_nomination_future %}
  <div>
    <b>Nomination opens on {{ election.nomination_start|date }} {{ election.nomination_start|time:"H:i" }}.</b>
  </div>
  {% else %}
  <div>
    <b>Voting opens on {{ election.voting_start|date }} {{ election.voting_start|time:"H:i" }}.</b>
  </div>
  {% endif %}
  <div class="list-group mt-3">
    {% for position in election.position_set.all %}
    <div class="list-group-item">
      <h2>{{ position.name }}</h2>
      <p>
        {{ position.description }}
      </p>
      {% if not position.nomination_set.all %}
      <p>
        There is currently no nomination for this role.
      </p>
      {% else %}
      <div>
        Current nominations:
        <ul>
          {% for nomination in position.nomination_set.all|shuffle %}
          <li>
            {{ nomination.name }}
            {% if nomination.nickname %}
            ({{ nomination.nickname }})
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
