{% extends 'portal/base.html' %}

{% load static %}

{% block title %}Elections - ECSS{% endblock %}

{% block portalcontent %}
<div class="alert alert-warning">
  Support feature will be implemented soon.
</div>
{% for message in messages %}
<div class="alert alert-success">
  {{ message }}
</div>
{% endfor %}
<section>
  <h1>{{ election.name }}</h1>
  <p>
    This election is for ECSS members.
  </p>
  {% if not perms.ecsswebauth.is_ecs_user %}
  <p>
    Unfortunately you are unable to nominate, support nominations or vote in this election. If you think it is an error please contact us.
  </p>
  {% else %}
  <p>
    You are able to nominate yourself for as many roles, and each nomination requires at least two supports before nomination closes. You are able to support one nomination for each role.
  </p>
  {% endif %}
  <div>
    <b>Nomination ends on {{ election.nomination_end|date }} {{ election.nomination_end|time:"H:i" }}.</b>
  </div>
  <div class="list-group mt-3">
    {% for position in election.position_set.all %}
    <div class="list-group-item">
      <h2>{{ position.name }}</h2>
      <p>
        <i>{{ position.description }}</i>
      </p>
      {% if perms.ecsswebauth.is_ecs_user %}
      <div>
        <a href="{% url 'election:nomination' election.codename position.codename %}">Nominate for this role</a>
      </div>
      {% endif %}
      {% if not position.nomination_set.all %}
      <p>
        There is currently no nomination for this role.
      </p>
      {% else %}
      <div>
        Current nominations:
        <ul>
          {% for nomination in position.nomination_set.all %}
          <li>
            {{ nomination.name }}
            {% if nomination.nickname %}
            ({{ nomination.nickname }})
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
