.helper-photo-small {
  max-height: 10rem;
}
.helper-photo {
  max-height: 30rem;
}
.committee-group-table-checked-in-column {
  width: 25%;
}

.city-challenge-photo, .scavenger-hunt-photo {
  width: 15rem;
}
.scavenger-hunt-photo {
  height: 15rem;
}
