/*
Jumpstart navbar
*/

.navbar-jumpstart {
  opacity: 0.9;
}

.navbar-sticky-jumpstart + main {
  padding-top: 56px;
}

@media (max-width: 575.98px) {
  .navbar-jumpstart {
    display: none;
  }

  .navbar-jumpstart + main {
    padding-top: 0;
  }
}


/*
Logos
*/

.logos-jumpstart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.logo-container-jumpstart {
  width: 10rem;
  height: 10rem;
  margin: 4rem;
  align-items: center;
  justify-content: center;
}

.sponsor-logo-text-container-jumpstart {
  width: 10rem;
  height: 10rem;
  margin: 2rem;
}

.sponsor-logo-container-jumpstart {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*
Pictures
*/

.pics-jumpstart {
  font-size: 0;
}

.pic-jumpstart {
  width: 33.33%;
}


/*
Timetable
*/
.calendar-container {
  overflow-x: scroll;
}

.calendar {
  border: 0;
  min-width: 40rem;
}


/*
Maps
*/

#map {
  height: 30rem;
}
