{% extends 'website/base.html' %}

{% load static %}

{% block title %}Others Sports in ECSS{% endblock title %}

{% block content %}
<div class="page-header">
  <section class="container">
    <h1>Others</h1>
    <p>
      Compete for the title of best player in ECSS! We have annual ladders in Table tennis, badminton, pool and squash. The ladders are set up in the first few weeks but anyone can join at any time.
    </p>
  </section>
</div>
<div class="container mt-3">
  <section>
    <h2>How it works</h2>
    <p>
      Players challenge each other no higher than 2 places above them, they play a best of 3 game, and report back to the league. If the challenger wins, they are moved above the player they challenged.
    </p>
  </section>
  <section>
    <h2>Get in touch</h2>
    <ul>
      <li><a href="https://www.facebook.com/groups/1676587752611911/">Table tennis</a></li>
      <li><a href="https://www.facebook.com/groups/1079814182050120/">Badminton</a></li>
      <li><a href="https://www.facebook.com/groups/947358788681509/">Squash</a></li>
    </ul>
  </section>
</div>
{% endblock %}
