{% extends 'website/base.html' %}

{% load static %}

{% block title %}Other Sports in ECSS{% endblock title %}

{% block content %}
<div class="page-header">
  <section class="container">
    <h1>Other Sports</h1>
    <p>
      Within ECS we have also created a Hub for sports we don’t offer clubs for, but instead offer a meeting place within ECS for matches. Once your match has been played you can record the scores and they will be updated in a ladder on the Facebook groups listed below. 
    </p>
  </section>
</div>
<div class="container mt-3">
  <ul>
    <li><a href="https://www.facebook.com/groups/1676587752611911/" title="ECSS table tennis Facebook groups">Table tennis</a></li>
    <li><a href="https://www.facebook.com/groups/1079814182050120/" title="ECSS badminton Facebook groups">Badminton</a></li>
    <li><a href="https://www.facebook.com/groups/947358788681509/" title="ECSS squash Facebook groups">Squash</a></li>
  </ul>
  <div class="mt-3"><a href="{% url 'website:sports' %}"><i class="fas fa-arrow-circle-left"></i> sports overview</a></div>
</div>
{% endblock %}
