{% extends 'website/base.html' %}

{% load static %}

{% block title %}Running in ECSS{% endblock title %}

{% block content %}
<div class="page-header">
  <section class="container">
    <h1>Running</h1>
    <p>
      Within ECS we participate in the Parkrun on Southampton Common. Each Saturday at 9am there is a 5km run hosted which anyone can participate in of any ability. We are a running club registered with Parkrun and you can find out <a href="https://www.parkrun.org.uk/southampton/results/clubhistory/?clubNum=26404" title="ECSS at Southampton parkrun">our Southampton parkrun profile</a>. If interested please feel free to <a href="https://www.facebook.com/groups/320944961653059/" title="ECSS Parkrun Facebook group">join us on Facebook</a> or <a href="{% url 'website:contact' %}" title="Contact us">contact us</a>. You can learn more on <a href="https://www.parkrun.org.uk/southampton/" title="Southampton Parkrun">Southampton Parkrun's website</a>.
    </p>
  </section>
</div>
<div class="container mt-3">
  <img class="img-fluid mx-auto d-block" src="{% static 'website/content/sports/parkrun.jpg' %}" alt="ECSS at Southampton Parkrun">
  <div class="mt-3"><a href="{% url 'website:sports' %}"><i class="fas fa-arrow-circle-left"></i> sports overview</a></div>
</div>
{% endblock %}
