{% extends 'website/base.html' %}

{% load static %}

{% block title %}Running in ECSS{% endblock title %}

{% block content %}
<div class="page-header">
  <section class="container">
    <h1>Running</h1>
    <p>
      Since the end of last year, members of ECSS have started taking part in running events.<br>
      Some students took part in 10km runs or half marathons, but the attendance was highest at the weekly park run.
    </p>
  </section>
</div>
<div class="container mt-3">
  <section class="row">
    <div class="col-md-7 order-md-1">
      <h2>Parkrun</h2>
      <p>
        The local Southampton Parkrun is held every Saturday in the common.<br>
        A group of us meet every week to start the run together and meet after to chat about times and the run.
      </p>
      <p>
        It's a really easy way to be active, requires no money, experience or equipment (perfect for people who never go outside).
      </p>
      <p>
        This year the park runs will continue, whilst some fun runs, fancy dress runs, and maybe even some longer distance events to raise money for charities or the society. The society may even look into getting ECSS branded running tops if there is enough interest.
      </p>
    </div>
    <div class="col-md-5 order-md-0 d-flex align-items-center">
      <img class="img-fluid" src="{% static 'website/content/sports/parkrun.jpg' %}" alt="Parkrun">
    </div>
</div>
{% endblock %}
