{% extends 'website/base.html' %}

{% load static %}

{% block title %}Sports in ECSS{% endblock title %}

{% block content %}
<div class="page-header">
  <section class="container mt-3">
    <h1>Sports in ECSS</h1>
    <p>
      Sport within ECSS is a growing sector which we aim to expand as we see its importance. 
    </p>
    <p>
      Typically ECS is associated with little physical activity but we see it as vital for a healthy lifestyle as our courses require a lot of idle time.
    </p>
    <p>
      So within ECSS we offer multiple different sporting opportunities for you to access. 
    </p>
    <p>
      Please explore the below subpages for further details to suit your interest.
    </p>
  </section>
</div>
<div class="container mt-3">
  <p>
    <ul>
      <li><a href="{% url 'website:football' %}">Football</a></li>
      <li><a href="{% url 'website:netball' %}">Netball</a></li>
      <li><a href="{% url 'website:running' %}">Running</a></li>
      <li><a href="{% url 'website:sports-others' %}">Others</a></li>
    </ul>
  </p>
</div>
{% endblock %}
