{% extends 'portal/base.html' %}

{% load static %}
{% load website_extra %}
{% load shop_extra %}

{% block title %}Shop - ECSS{% endblock %}

{% block pagestyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'shop/styles/shop.css' %}">
{% endblock %}

{% block portalcontent %}
<section>
  <h1>Shop</h1>
  <div class="card">
    <h5 class="card-header">
      {{ item.name }}
    </h5>
    <div class="card-body row">
      <div class="col-md-5 mb-3">
        {% if item.itemimage_set.all|length <= 1 %}
        {% with first_itemimage=item.itemimage_set.all|first %}
        <img class="img-fluid" src="{{ first_itemimage.image.url }}" alt="{{ item.name }}">
        {% endwith %}
        {% else %}
        <div id="itemCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
          <ol class="carousel-indicators">
            {% for itemimage in item.itemimage_set.all %}
            <li data-carousel-target data-target="#itemCarousel" data-slide-to="{{ forloop.counter0 }}"  {% for item_option in itemimage.item_options.all %} data-os-{{item_option.item_option.id}}="{{item_option.id}}" {% endfor %} class="{% if forloop.counter == 1 %}active{% endif %}"></li>
            {% endfor %}
          </ol>
          <div class="carousel-inner">
            {% for itemimage in item.itemimage_set.all %}
            <div class="carousel-item shop-carousel-item {% if forloop.counter == 1 %}active{% endif %}">
              <img class="d-block img-fluid mx-auto" src="{{ itemimage.image.url }}" alt="{{ item.name }}">
            </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#itemCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#itemCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="flex-row item-thumbnails d-none d-md-flex">
          {% for itemimage in item.itemimage_set.all %}
          <div class="d-flex item-thumbnail img-thumbnail" data-target="#itemCarousel" data-slide-to="{{ forloop.counter0 }}">
            <img class="d-block img-fluid mx-auto" src="{{ itemimage.image.url }}" alt="{{ item.name }}">
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="col-md-7">
        {% if item.sale.is_future %}
        <div class="alert alert-warning">
          Sale for this item is not yet open. The sale opens between {{ item.sale.start|date }} {{ item.sale.start|time:"H:i" }} and {{ item.sale.end|date }} {{ item.sale.end|time:"H:i" }}.
        </div>
        {% endif %}
        {% if item.itempermission_set.all and not user|has_any_perms_item:item %}
        <div class="alert alert-warning">
          This item is not for the current user.
        </div>
        {% endif %}
        <h5>
          {{ item.name }}
        </h5>
        <div>{{ item.description|md|safe }}</div>
        <form method="post" id="orderForm">        
          {% csrf_token %}
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="{{ item.paypal_button_id }}">

          <input type="hidden" name="item_name" value="{{ item.name }}">
          <input type="hidden" name="amount" value="1">

          <input type="hidden" name="on0" value="options">
          <input type="hidden" name="os0" value="">

          {% for item_option in item.itemoption_set.all|dictsort:"paypal_option_number" %}
          <div class="form-group">
            <label for="input{{ item_option.paypal_option_number }}"><b>{{ item_option.name }}</b></label>
            <input type="hidden" name="on{{ item_option.paypal_option_number }}" value="{{ item_option.paypal_option_name }}">
            {% if item_option.auto_value == 'username' %}
            <input class="form-control" name="os{{ item_option.paypal_option_number }}" value="{{ user.username }}" id="input{{ item_option.paypal_option_number }}" readonly>
            {% else %}
            <select class="form-control os-select" name="os-{{ item_option.id }}" id="input{{ item_option.id }}">
              <option value="" selected disabled>Select {{ item_option.name }}</option>
              {% for option_choice in item_option.optionchoice_set.all|msort:"sort_order" %}
              <option value="{{ option_choice.id }}">{{ option_choice.name }}</option>
              {% endfor %}
            </select>
          {% endif %}
          </div>
          {% endfor %}

          <div class="mb-3"><b>£{{ item.price }}</b></div>

          <button type="submit" name="add-to-cart" class="btn btn-success" style="width: 100%">Add to Cart</button>
          <br><br>

          <div class="alert alert-warning">
            Refund may not be possible due to the items are customarily ordered. If purchasing items, you will be contacted upon item delivery, during semester 2. You will receive time slots to collect your purchased items, and if these cannot be met please contact the committee via email. Failure to contact committee and failure to collect will result in no guarantee you will get the items, with no refund available.
          </div>

          <div class="text-muted">
            <small>
              The order and payment is handled by PayPal. By clicking the "Buy Now" button, you order information will be sent to PayPal (this may also include your university username), and we may contact you regarding your order.
            </small>
          </div>
        </form>
        <div class="mt-3">
          <b>Sale for this item ends on {{ item.sale.end|date }} at {{ item.sale.end|time:"H:i" }}.</b>
        </div>
        <div class="text-muted mt-3">
          <small>
            If having difficulities purchasing on the website, please contact the committee.
          </small>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block pagescript %}
{{ block.super }}
<script>
  $(document).ready(function() {
    $('.form-control').on('change', function() {
      selectImage();
    });
  });

  var lastClicked = null;

  function selectImage() {
    var selects = $(document).find(".os-select");

    const images = new Map();
    const filters = new Map();

    selects.each(function() {
      var name = $(this).attr("name");
      var selected = $(this).find(":selected").attr("value");

      filters.set(name, selected);
    });

    $(document).find("[data-carousel-target]").each(function() {
      images.set($(this), 0);
    });

    for (const [key, value] of images) {
      var count = 0;

      for (const [filterName, filterValue] of filters) {
        if(!key.attr("data-" + filterName)) {
          continue;
        }

        if(key.attr("data-" + filterName) == filterValue) {
          count++;
        }
      }

      images.set(key, count);
    }

    sortedImages = new Map(
      Array
        .from(images)
        .sort((a, b) => {
          return b[1] - a[1];
        })
    )

    firstImage = Array.from(sortedImages.keys())[0];

    if(lastClicked != null && lastClicked.attr("data-slide-to") == firstImage.attr("data-slide-to")) {
      return;
    }

    firstImage.click();

    lastClicked = firstImage;
  }
  </script>
{% endblock %}
