{% extends 'portal/base.html' %}

{% load static %}
{% load website_extra %}
{% load shop_extra %}

{% block title %}{{sale.name}} Summary - ECSS{% endblock %}

{% block pagestyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'shop/styles/shop.css' %}">
{% endblock %}

{% block portalcontent %}
<section>
  <h1>Shop</h1>
  <div class="card">
    <h5 class="card-header">
      Summary for {{sale.name}}
    </h5>
    <div class="card-body">
      {% for id, item in ordered_items.items %}
        <b>{{ item.name }}: {{item.count}}x<br></b>
        {% for order in item.options %}
        {{order.username}} -
        {% for choice_set in order.options %}
        {% for choice in choice_set %}
        {{ choice.item_option.name }}: {{ choice.name }},
        {% endfor %}
        {% endfor %}
        <br>
        {% endfor %}
        <br>
      {% endfor %}
      {% if orders %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="width: 70%">Order</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
              {% csrf_token %}
              <input type="hidden" name="form_id" value="item_edit">
              <input type="hidden" name="item_id" value="{{item.id}}">
                <td><b>Order #{{order.id}}</b><br>
                  {{order.created}}
                  {% for item in order.ordereditem_set.all %}
                  <i><br>{{item.quantity}}x {{item.item}} ({% for choice in item.choices.all %}{{choice.name}}, {% endfor %})</i>
                  {% endfor %}
                </td>
                <td>
                  £{{order.total_price}}
               </td>
               <td><a href="{% url 'shop:order' order.id %}"><button type="submit" class="btn btn-primary">View</button></a>
              </td>
            
          </tr>
          {% endfor %}
      </table>
    </div>
      {% else %}
      <div class="card-body">
      You have not yet purchased anything from the store.
    </div>
    {% endif %}
  </div>
</section>
{% endblock %}

{% block pagescript %}
{{ block.super }}
<script>

</script>
{% endblock %}
