{% extends 'portal/base.html' %}

{% block title %}
Respond Feedback - ECSS
{% endblock %}

{% block portalcontent %}
<section>
  <h1>Feedback Respond</h1>
  <div class="list-group">
    <div class="list-group-item">
      <div class="card mb-3">
        <div class="card-body">
          <p>{{ feedback }}</p>
          <div class="row">
            <div class="col-sm-8">
              {% if feedback.category %}
              <span class="badge badge-primary">{{ feedback.category }}</span>
              {% endif %}
              {% if feedback.from_ecs %}
              <span class="badge badge-secondary">From ECS user</span>
              {% else %}
              <span class="badge badge-secondary">From non-ECS user</span>
              {% endif %}
              {% if feedback.committee %}
              <div class="badge badge-info badge-multline">Submitted by <strong class="username">{{ feedback.committee }}</strong></div>
              {% endif %}
            </div>
            <small class="text-muted ml-auto col-sm-4 text-right">Submitted on {{ feedback.time }}</small>
          </div>
        </div>
      </div>
      <form id="respondForm" method="post">
        {% csrf_token %}
        {% for field in respond_form %}
        <div class="form-group">
          {{ field.label_tag }}{{ field }}
          {% if field.errors %}
          <small class="form-text text-danger">
            {% for err in field.errors %}{{ err }}{% endfor %}
          </small>
          {% endif %}
        </div>
        {% endfor %}
        <input id="saveButton" name="submit" type="submit" value="Save" class="btn btn-ecssweb">
        {% if not is_new %}
        <input id="deleteButton" name="submit" type="submit" value="Delete" class="btn btn-ecssweb-light">
        {% endif %}
        <a href="{% url 'feedback:view' %}" class="btn">Cancel</a>
      </form>
    </div>
  </div>
</section>
{% endblock %}

{% block pagescript %}
{{ block.super }}
<script>
  is_bind = false;
  $("#respondForm").change(function() {
    if (!is_bind) {
      $(window).bind("beforeunload", function(){
        return "Are you sure you want to leave this page, changes you made may not be saved?";
      });
    }
  });
  $("#saveButton").click(function() {
    $(window).unbind("beforeunload");
    $("#respondForm").removeAttr("novalidate");
    $("#respondForm").unbind("submit");
  });
  $("#deleteButton").click(function() {
    $(window).unbind("beforeunload");
    $("#respondForm").unbind("submit");
    $("#respondForm").attr("novalidate", "novalidate");
    $("#respondForm").submit(function() {
      return confirm("Are you sure you want to delete this response?");
    });
  });
</script>
{% endblock %}
