{% extends 'portal/base.html' %}

{% block title %}
View Feedback - ECSS
{% endblock %}

{% block portalcontent %}
<section>
  <h1>Feedback</h1>
  {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success">{{ message }}</div>
    {% endif %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
    <div class="alert alert-warning">{{ message }}</div>
    {% endif %}
  {% endfor %}
  {% if not perms.feedback.add_response %}
  <p>Only feedback replied by committee will be shown.</p>
  {% endif %}
  {% if feedbacks %}
  <div class="list-group mb-3">
    {% for feedback in feedbacks %}
    <div class="list-group-item">
      <div class="card mb-3">
        <div class="card-body">
          <p>{{ feedback }}</p>
          <div class="row">
            <div class="col-sm-8">
              {% if feedback.category %}
              <span class="badge badge-primary">{{ feedback.category }}</span>
              {% endif %}
              {% if feedback.from_ecs %}
              <span class="badge badge-secondary">From ECS user</span>
              {% else %}
              <span class="badge badge-secondary">From non-ECS user</span>
              {% endif %}
              {% if feedback.committee %}
              <div class="badge badge-info badge-multline">Submitted by <strong class="username">{{ feedback.committee }}</strong></div>
              {% endif %}
            </div>
            <small class="text-muted ml-auto col-sm-4 text-right">Submitted on {{ feedback.time }}</small>
          </div>
        </div>
      </div>
      {% if feedback.response %}
      <p>{{ feedback.response }}</p>
      <div class="d-flex">
        {% if perms.feedback.add_response %}
        <a href="{% url 'feedback:respond' feedback.pk %}" class="mr-3 text-nowrap">Edit response</a>
        {% endif %}
        <small class="text-muted ml-auto">Replyed by {{ feedback.response.committee }} on {{ feedback.response.time|date }} at {{ feedback.response.time|time:"H:i" }}</small>
      </div>
      {% elif perms.feedback.add_response %}
      <a href="{% url 'feedback:respond' feedback.pk %}">Add a response</a>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% if page_range|length > 1 %}
  <nav aria-label="Feedback pages">
    <ul class="pagination justify-content-center">
      <li class="page-item {% if not feedbacks.has_previous %}disabled{% endif %}">
        <a href="{% if feedbacks.has_previous %}?page={{ feedbacks.previous_page_number }}{% else %}#{% endif %}" class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% for page_number in page_range %}
      <li class="page-item {% if page_number == feedbacks.number %}disabled{% endif %}">
        <a href="?page={{ page_number }}" class="page-link">{{ page_number }}</a>
      </li>
      {% endfor %}
      <li class="page-item {% if not feedbacks.has_next %}disabled{% endif %}">
        <a href="{% if feedbacks.has_next %}?page={{ feedbacks.next_page_number }}{% else %}#{% endif %}" class="page-link" aria-label="Previous">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
  {% endif %}
  {% elif perms.feedback.add_response %}
  <p>No feedback yet.</p>
  {% endif %}
</section>
{% endblock %}
