{% extends 'jumpstart/base.html' %}

{% block jumpstartcontent %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="alert alert-success">{{ message }}</div>
{% endif %}
{% endfor %}
<div class="card mt-3">
  <div class="card-header">
    City Challenge
  </div>
  <div class="card-body">
    <h5>Group {{ group.id }}</h5>
    <ul>
      <li>
        Group name: {% if group.name %}{{ group.name }}{% else %}<span class="text-muted">Not set</span>{% endif %}
      </li>
      <li>
        Charity Shop Challenge photo:
        {% if group.charity_shop_challenge_photo %}
        <img class="img-fluid d-block city-challenge-photo" src="{{ group.charity_shop_challenge_photo.url }}" alt="Charity Shop Challenge">
        {% else %}
        <span class="text-muted">Not submitted</span>
        {% endif %}
      </li>
      <li>
        <form class="form-inline my-2" method="post" action="{% url 'jumpstart:city-challenge' group.id %}?challenge=mitre">
          {% csrf_token %}
          {% for field in score_mitre_challenge_form %}
          <div class="form-group">
            {{ field.label_tag }}{{ field }}
            {% if field.errors %}
            <small class="form-text text-danger">
              {% for err in field.errors %}{{ err }}{% endfor %}
            </small>
            {% endif %}
          </div>
          {% endfor %}
          <input type="submit" class="btn btn-ecssweb" value="Update">
        </form>
      </li>
      <li>
        <form class="form-inline my-2" method="post" action="{% url 'jumpstart:city-challenge' group.id %}?challenge=coding">
          {% csrf_token %}
          {% for field in score_coding_challenge_form %}
          <div class="form-group">
            {{ field.label_tag }}{{ field }}
            {% if field.errors %}
            <small class="form-text text-danger">
              {% for err in field.errors %}{{ err }}{% endfor %}
            </small>
            {% endif %}
          </div>
          {% endfor %}
          <input type="submit" class="btn btn-ecssweb" value="Update">
        </form>
      </li>
      <li>
        <form class="form-inline my-2" method="post" action="{% url 'jumpstart:city-challenge' group.id %}?challenge=stags">
          {% csrf_token %}
          {% for field in stags_quiz_score_form %}
          <div class="form-group">
            {{ field.label_tag }}{{ field }}
            {% if field.errors %}
            <small class="form-text text-danger">
              {% for err in field.errors %}{{ err }}{% endfor %}
            </small>
            {% endif %}
          </div>
          {% endfor %}
          <input type="submit" class="btn btn-ecssweb" value="Update">
        </form>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
