{% extends 'jumpstart/base.html' %}

{% block jumpstartcontent %}
<div class="card mt-3">
  <div class="card-header">
    City Challenge
  </div>
  <div class="card-body">
    <h5>Group {{ group.id }}</h5>
    <ul>
      <li>
        Group name: {% if group.name %}{{ group.name }}{% else %}<span class="text-muted">Not set</span>{% endif %}
      </li>
      <li>
        Charity Shop Challenge photo:
        {% if group.charity_shop_challenge_photo %}
        <img class="img-fluid d-block city-challenge-photo" src="{{ group.charity_shop_challenge_photo.url }}" alt="Charity Shop Challenge">
        {% else %}
        <span class="text-muted">Not submitted</span>
        {% endif %}
      </li>
    </ul>
  </div>
</div>
{% endblock %}
