{% extends 'jumpstart/base.html' %}

{% block jumpstartcontent %}
{% for group in groups %}
<div class="bordered">
  <h2>Group {{ group.number }}</h2>
  <div>Group name: {{ group.name }}</div>
  <div>
    <h3 class="h6">Charity Shop Challenge</h3>
    {% for submission in group.charityshopchallengesubmission_set.all %}
    <div class="bordered">
      {% if submission.photo %}
      <img src="{{ submission.photo.url }}" style="width: 20rem;">
      {% endif %}
      {{ submission.description }}
    </div>
    {% endfor %}
  </div>
  <div>
    <h3 class="h6">Scavenger Hunt</h3>
    {% for submission in group.scavengerhuntsubmission_set.all %}
    <div class="bordered">
      {% if submission.photo %}
      <img src="{{ submission.photo.url }}" style="width: 20rem;">
      {% endif %}
      {{ submission.description }}
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}
{% endblock %}
