{% extends 'jumpstart/base.html' %}

{% block jumpstartcontent %}
<p>Hi {{ fresher.name }}, welcome to <a href="{% url 'website:jumpstart-redirect' %}">Jumpstart</a>!</p>
<div class="card">
    <div class="card-header">
      Your Group
    </div>
    <div class="card-body">
      {% if fresher.group.name %}
      <h5>{{ fresher.group.name }}</h5>
      <small class="text-muted">Group {{ fresher.group.id }}</small>
      {% else %}
      <h5>Group {{ fresher.group.id }}</h5>
      {% endif %}
      <div class="card-text">
        You are in <b>{% if fresher.group.name %}{{ fresher.group.name }}{% else %}Group {{ fresher.group.id }}{% endif %}</b> with:
        <ul>
          {% for group_fresher in fresher.group.fresher_set.all %}
          {% if group_fresher != fresher %}
          <li>{{ group_fresher.name }}</li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
<div class="card mt-3">
  <div class="card-header">
    Your Group Helper
  </div>
  <div class="card-body">
    <p class="card-text">
      Your group helper is {{ fresher.group.helper.name }}{% if fresher.group.helper.nickname %} ({{ fresher.group.helper.nickname }}){% endif %}.
      <img class="img-fluid helper-photo d-block" src="{% if helper.photo %}{{ helper.photo.url }}{% endif %}" alt="{{ fresher.group.helper.name }}">
    </p>
  </div>
</div>
<div class="card mt-3">
  <div class="card-header">
    City Challenge
  </div>
  <div class="card-body">
    <div class="card-text">
      This section is to complete by your group during the event.
      <ul>
        <li>
          Group name: {% if fresher.group.name %}{{ fresher.group.name }}{% else %}<span class="text-muted">Not set</span>{% endif %}
        </li>
      </ul>
    </div>
  </div>
</div>
{% include 'jumpstart/groups-list.html' %}
{% endblock %}
