<div class="card mt-3">
  <div class="card-header">
    Jumpstart Groups
  </div>
  <ul class="list-group list-group-flush">
    {% for group in groups %}
    <li class="list-group-item">
      {% if group.name %}
      <h5>{{ group.name }}</h5>
      <small class="text-muted">Group {{ group.id }}</small>
      {% else %}
      <h5>Group {{ group.id }}</h5>
      {% endif %}
      <p>{{ group.fresher_set.all|length }} member{{ group.fresher_set.all|length|pluralize }}.</p>
    </li>
    {% endfor %}
  </ul>
</div>
