{% extends 'jumpstart/base.html' %}

{% load website_extra %}

{% block jumpstartcontent %}
{% for message in messages %}
<div class="alert
{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success{% endif %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% endif %}
">{{ message }}</div>
{% endfor %}
<div class="card my-3">
  <div class="card-header">
    <a href="{% url 'jumpstart:group' %}" title="Your Group">Your Group</a>
  </div>
  <div class="card-body">
    {% if helper.group.name %}
    <h2 class="h6">{{ helper.group.name }}</h2>
    <small class="text-muted d-block">Group {{ helper.group.number }}</small>
    {% else %}
    <h2 class="h6">Group {{ helper.group.number }}</h2>
    {% endif %}
    <div class="card-text">
      <p>
        You are the helper for Group {{ helper.group.number }}.<br>
        {{ helper.group.fresher_set.all|length }} member{{ helper.group.fresher_set.all|length|pluralize }} in your group{% if jumpstart.is_now or jumpstart.is_after%} ({{ helper.group.fresher_set.all|checked_in_freshers|length }} marked as checked in){% endif %}.
      </p>
      <a href="{% url 'jumpstart:group' %}" title="View Your Group{% if jumpstart.is_now %} and Check in Members{% endif %}">View Group {% if jumpstart.is_now %} and Check in Members{% endif %}</a>
    </div>
  </div>
</div>
<div class="card my-3">
  <div class="card-header">
    <a href="{% url 'jumpstart:profile' %}" title="Your Profile">Your Profile</a>
  </div>
  <div class="card-body">
    <div class="card-text">
      {% if helper.photo %}
      <div class="row">
        <div class="col-4">
          <img class="d-block mb-3 img-fluid helper-photo-small" src="{{ helper.photo.url }}" alt="Helper for group {{ helper.group.number }}: {{ helper.name }}">
        </div>
        <div class="col-8">
          <ul>
            <li>Name: {{ helper.name }}</li>
            <li>Prefered Name: {% if helper.prefered_name %}{{ helper.prefered_name }}{% else %}<span class="text-muted">Not set</span>{% endif %}</li>
          </ul>
        </div>
      </div>
      {% else %}
      <ul>
        <li>Name: {{ helper.name }}</li>
        <li>Prefered Name: {% if helper.prefered_name %}{{ helper.prefered_name }}{% else %}<span class="text-muted">Not set</span>{% endif %}</li>
        <li><span class="text-danger">Profile photo not uploaded.</span></li>
      </ul>
      {% endif %}
      {% if not jumpstart.is_helper_profile_locked %}
      <a href="{% url 'jumpstart:profile' %}" title="Edit Your Profile">Edit Your Profile</a>
      {% else %}
      <small class="text-muted d-block">
        Your profile is visible to members in your group and ECSS committee.
      </small>
      {% endif %}
    </div>
  </div>
</div>
<div class="card my-3">
  <div class="card-header">
    City Challenge
  </div>
  <div class="card-body">
    <div class="card-text">
      <ul>
        <li>
          Group name: {% if helper.group.name %}{{ helper.group.name }}{% else %}<span class="text-muted">Not set</span>{% endif %}
        </li>
        <li>{% if helper.group.charity_shop_challenge_photo %}<span class="text-success">Charity Shop Challenge photo uploaded.</span>{% else %}<span class="text-danger">Charity Shop Challenge photo not uploaded.</span>{% endif %}</li>
      </ul>
      {% if jumpstart.is_now %}
      <a href="{% url 'jumpstart:city-challenge-edit' %}" title="Edit City Challenge for Your Group">Edit City Challenge</a>
      {% else %}
      <a href="#" title="View City Challenge of Your Group">View City Challenge</a>
      {% endif %}
    </div>
  </div>
</div>
<div class="card my-3">
  <div class="card-header">
    Scavenger Hunt
  </div>
  <div class="card-body">
    <div class="card-text">
      <p>
        Submitted {{ group.scavengerhunt_set.all|length }} photo{{ group.scavengerhunt_set.all|length|pluralize }}.
      </p>
      {% if jumpstart.is_now %}
      <a href="#" title="Edit Scavenger Hunt for Your Group">Edit Scavenger Hunt</a>
      {% else %}
      <a href="#" title="View Scavenger Hunt of Your Group">View Scavenger Hunt</a>
      {% endif %}
    </div>
    <!-- <div class="my-3">
      <a href="{% url 'jumpstart:scavenger-hunt-edit' %}">Submit Scavenger Hunt</a>
    </div>
    <div class="mt-3">
        <a href="{% url 'jumpstart:scavenger-hunt' %}">View Scavenger Hunt</a>
    </div> -->
  </div>
</div>
<div class="card my-3">
  <div class="card-header">
    More Information
  </div>
  <div class="card-body">
    <div class="card-text">
      {{ info|md|safe }}
    </div>
  </div>
</div>
{% endblock %}
