{% extends 'jumpstart/base.html' %}

{% block jumpstartcontent %}
<div class="mb-3">
  <a href="{% url 'jumpstart:home' %}" title="Jumpstart Portal"><i class="fas fa-arrow-circle-left"></i> Jumpstart portal</a>
</div>
{% for message in messages %}
<div class="alert
{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success{% endif %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% endif %}
">{{ message }}</div>
{% endfor %}
<div class="card my-3">
  <div class="card-header">
    City Challenge
  </div>
  <div class="card-body">
    <h2 class="h6">Group {{ group.number }}</h2>
    <div class="card-text">
      Group name: {% if group.name %}{{ group.name }}{% else %}<span class="text-danger">Not set</span>{% endif %}<br>
      {% if group.charityshopchallengesubmission_set.all %}
      {% else %}
      <span class="text-danger">Charity Shop Challenge not submitted.</span>
      {% endif %}
    </div>
  </div>
</div>
<div class="card my-3">
  <div class="card-header">
    Edit Group Name
  </div>
  <div class="card-body">
    <form method="post" action="{% url 'jumpstart:group-name-update' %}">
      {% csrf_token %}
      {% for field in edit_group_name_form %}
      <div class="form-group">
        {{ field.label_tag }}{{ field }}
        {% if field.errors %}
        <small class="form-text text-danger">
          {% for err in field.errors %}{{ err }}{% endfor %}
        </small>
        {% endif %}
      </div>
      {% endfor %}
      <input type="Submit" class="btn btn-ecssweb" value="Update">
      <div class="mt-2">
        <small class="text-muted">
          Your group name is visible to all freshers participating in City Challenge, all helpers and ECSS committee.
        </small>
      </div>
    </form>
  </div>
</div>
<div class="card my-3">
  <div class="card-header">
    Submit Charity Shop Challenge
  </div>
  <div class="card-body">
    <form method="post" enctype="multipart/form-data">
      <p>You can use this form multiple times to provide more details of your submission. If you would like to submit files not supported by this form, you can use services such as <a href="https://safesend.soton.ac.uk/" title="University of Southampton SafeSend service">the university's SafeSend</a> and submit details with the description field below. Or you can <a href="mailto:society@ecs.soton.ac.uk?subject=[Jumpstart 2019 Submission] Charity Shop Challenge Group {{ group.number }}">send emails to society@ecs.soton.ac.uk</a> with "[Jumpstart 2019 Submission] Charity Shop Challenge Group {{ group.number }}" as the subject and and submit details with the description field below.</p>
      {% csrf_token %}
      {% for field in submit_charity_shop_challenge %}
      <div class="form-group">
        {{ field.label_tag }}{{ field }}
        {% if field.errors %}
        <small class="form-text text-danger">
          {% for err in field.errors %}{{ err }}{% endfor %}
        </small>
        {% endif %}
      </div>
      {% endfor %}
      <input type="Submit" class="btn btn-ecssweb" value="Submit">
      <div class="mt-2">
        <small class="d-block text-muted">
          Your submissions will be visible to your group members and ECSS committee.
        </small>
      </div>
      <div class="mt-2">
        <small class="text-muted">
          Your submissions might be used for other part of the Jumpstart event or future Jumpstart events.
        </small>
      </div>
    </form>
  </div>
</div>
{% endblock %}
