{% extends 'jumpstart/base.html' %}

{% block jumpstartcontent %}
<!-- {% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="alert alert-success">{{ message }}</div>
{% endif %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
<div class="alert alert-warning">{{ message }}</div>
{% endif %}
{% endfor %} -->
<!-- <p>Hi {% if helper.nickname %}{{ helper.nickname }}{% else %}{{ helper.name }}{% endif %}, welcome to <a href="{% url 'website:jumpstart-redirect' %}">Jumpstart</a>!</p> -->
<div class="card">
  <div class="card-header">
    Your Group
  </div>
  <div class="card-body">
    {% if helper.group.name %}
    <h2 class="h6">{{ helper.group.name }}</h2>
    <small class="text-muted d-block">Group {{ helper.group.number }}</small>
    {% else %}
    <h2 class="h6">Group {{ helper.group.number }}</h2>
    {% endif %}
    <div class="card-text">
      You are the helper of {% if helper.group.name %}{{ helper.group.name }} (Group {{ helper.group.number }}){% else %}Group {{ helper.group.number }}{% endif %}.
    </div>
    <div class="card-text">
      <a href="#" title="View Members in Your Group">{{ helper.group.fresher_set.all|length }} member{{ helper.group.fresher_set.all|length|pluralize }}</a> in your group.
      <!-- <ul>
        {% for group_fresher in helper.group.fresher_set.all %}
        {% if group_fresher != fresher %}
        <li>{{ group_fresher.name }}</li>
        {% endif %}
        {% endfor %}
      </ul> -->
    </div>
  </div>
</div>
<div class="card mt-3">
  <div class="card-header">
    Your Profile
  </div>
  <div class="card-body">
    <div class="card-text mb-3">
      <ul>
        <li>Name: {{ helper.name }}</li>
        <li>Prefered Name: {% if helper.nickname %}{{ helper.nickname }}{% else %}<span class="text-muted">Not set</span>{% endif %}</li>
        <li>{% if helper.photo %}<span class="text-success">Profile photo uploaded.</span>{% else %}<span class="text-danger">Profile photo not uploaded.</span>{% endif %}</li>
      </ul>
    </div>
    <div class="card-text">
      <a href="{% url 'jumpstart:profile-edit' %}" title="Edit your profile.">Edit</a>
    </div>
  </div>
</div>
<div class="card my-3">
  <div class="card-header">
    City Challenge
  </div>
  <div class="card-body">
    <div class="card-text">
      Please help fill in this section with the group during the event.
      <ul>
        <li>
          Group name: {% if helper.group.name %}{{ helper.group.name }}{% else %}<span class="text-muted">Not set</span>{% endif %}
        </li>
        <li>
          Charity Shop Challenge photo:
          {% if helper.group.charity_shop_challenge_photo %}
          <img class="img-fluid d-block city-challenge-photo" src="{{ helper.group.charity_shop_challenge_photo.url }}" alt="Charity Shop Challenge">
          {% else %}
          <span class="text-muted">Not submitted</span>
          {% endif %}
        </li>
      </ul>
      <a href="{% url 'jumpstart:city-challenge-edit' %}">Edit</a>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Scavenger Hunt
  </div>
  <div class="card-body">
    <div class="mb-3">
      Submitted {{ group.scavengerhunt_set.all|length }} photo{{ group.scavengerhunt_set.all|length|pluralize }}.
    </div>
    <div class="my-3">
      <a href="{% url 'jumpstart:scavenger-hunt-edit' %}">Submit Scavenger Hunt</a>
    </div>
    <div class="mt-3">
        <a href="{% url 'jumpstart:scavenger-hunt' %}">View Scavenger Hunt</a>
    </div>
  </div>
</div>
{% endblock %}
