{% extends 'website/base.html' %}

{% load static %}

{% block title %}Sponsors - ECS{% endblock title %}

{% block pagestyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'website/styles/sponsors/sponsor-detail.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-2">
  <div class="mb-2"><a href="{% url 'website:sponsors' %}"><i class="fas fa-arrow-circle-left"></i> sponsors overview</a></div>
  <ul class="nav nav-pills ecssweb-nav-sponsor">
    {% for sponsor in gold_sponsors %}
    <li class="nav-item">
      <a class="nav-link ecssweb-nav-sponsor-link-gold {% if sponsor.codename == current_sponsor.codename %}active{% endif %}" href="{% url 'website:sponsors' %}?sponsor={{ sponsor.codename }}">
        {{ sponsor.name }}
      </a>
    </li>
    {% endfor %}
    {% for sponsor in silver_sponsors %}
    <li class="nav-item">
      <a class="nav-link ecssweb-nav-sponsor-link-silver {% if sponsor.codename == current_sponsor.codename %}active{% endif %}" href="{% url 'website:sponsors' %}?sponsor={{ sponsor.codename }}">
        {{ sponsor.name }}
      </a>
    </li>
    {% endfor %}
    {% for sponsor in bronze_sponsors %}
    <li class="nav-item">
      <a class="nav-link ecssweb-nav-sponsor-link-bronze {% if sponsor.codename == current_sponsor.codename %}active{% endif %}" href="{% url 'website:sponsors' %}?sponsor={{ sponsor.codename }}">
        {{ sponsor.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
  <div class="row mt-2">
    <div class="col-lg-3 my-2">
      <img class="img-fluid mx-auto d-block ecssweb-sponsor-logo" src="{% static current_sponsor.logo_file %}" alt="{{ current_sponsor.name }}">
    </div>
    <div class="col-lg-9">
      <h2>{{ current_sponsor.name }}</h2>
      <div>
        <p>
          {% if current_sponsor.level == 'gold' %}
          <small class="text-muted"><i class="medal medal-gold"></i> Gold Sponsor</small>
          {% endif %}
          {% if current_sponsor.level == 'silver' %}
          <small class="text-muted"><i class="medal medal-silver"></i> Silver Sponsor</small>
          {% endif %}
          {% if current_sponsor.level == 'bronze' %}
          <small class="text-muted"><i class="medal medal-silver"></i> Bronze Sponsor</small>
          {% endif %}
        </p>
      </div>
      <div>
        {{ current_sponsor.description | safe }}
      </div>
      <hr>
      <ul class="list-unstyled">
        {% if current_sponsor.website %}
        <li class="my-1">
          <a href="{{ current_sponsor.website }}" class="icon-link" aria-label="Website"><i class="fas fa-mouse-pointer" title="Website" aria-hidden="true"></i> {{ current_sponsor.website }}</a>
        </li>
        {% endif %}
        {% for link in current_sponsor.sponsorlink_set.all %}
        <li><a href="{{ link.url }}">{{ link.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
